/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 7.2rem;
  line-height: 9.1rem;
}
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
  line-height: 7.5rem;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  line-height: 6.25rem;
}
h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.8rem;
}
h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3rem;
}
h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 2.6rem;
}
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
header {
  width: 100%;
  min-height: 10vh;
  background: #E6AC00;
  padding: 0 1.67%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 375px) {
  header {
    padding: 5%;
  }
}
@media (max-width: 375px) {
  header .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }
}
@media (max-width: 375px) {
  header .logo-container h4 {
    font-size: 2.1rem;
    line-height: 2.6rem;
  }
}
header .logo-container a {
  font-size: 3rem;
  line-height: 3.8rem;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
@media (max-width: 375px) {
  header .logo-container a {
    font-size: 2.1rem;
    line-height: 2.6rem;
  }
}
header nav {
  min-width: 306px;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 375px) {
  header nav {
    min-width: 0;
  }
}
header nav a {
  text-decoration: none;
}
header nav a:hover {
  font-weight: 700;
}
@media (max-width: 375px) {
  header nav a {
    font-size: 2.1rem;
    line-height: 2.6rem;
  }
}
@media (max-width: 375px) {
  header nav .about-link {
    display: inline;
  }
}
header nav .home-link {
  display: none;
}
@media (max-width: 375px) {
  header nav .home-link {
    display: inline;
  }
}
@media (max-width: 375px) {
  header nav .hide {
    display: none;
  }
}
.main-landing-page {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* Mobile */
}
@media (max-width: 375px) {
  .main-landing-page {
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: center;
    padding: 24px;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-landing-page {
    flex-direction: column;
    height: auto;
  }
}
@media (max-width: 375px) {
  .main-landing-page .desktop {
    display: none;
  }
}
.main-landing-page .hero-area {
  width: 60%;
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-landing-page .hero-area {
    width: 100%;
  }
}
.main-landing-page .hero-area .hero-img-container {
  background: url("../images/restaurant.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-landing-page .hero-area .hero-img-container {
    height: 551px;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
}
.main-landing-page .hero-area .hero-img-container h2 {
  display: none;
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-landing-page .hero-area .hero-img-container h2 {
    display: inline-block;
    width: 65%;
    color: #E6AC00;
    margin-top: 12%;
    min-width: 280px;
  }
}
.main-landing-page .cta-area {
  width: 40%;
  padding: 3%;
  overflow-y: scroll;
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-landing-page .cta-area {
    width: 100%;
    padding: 3% 15%;
  }
}
.main-landing-page .cta-area .banner-header {
  margin-top: 10%;
  color: #E6AC00;
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-landing-page .cta-area .banner-header {
    display: none;
  }
}
.main-landing-page .cta-area .banner-desc {
  margin-bottom: 10%;
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-landing-page .cta-area .banner-desc {
    margin-bottom: 5%;
  }
}
.main-landing-page .cta-area .cta-btn-container {
  line-height: 2rem;
  font-size: 1.6rem;
  color: #E6AC00;
}
.main-landing-page .cta-area .cta-btn-container button {
  width: 100%;
  background-color: #E6AC00;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  line-height: 3rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 0;
  margin: 16px 0;
  outline: none;
}
.main-landing-page .mobile-content {
  display: none;
}
@media (max-width: 375px) {
  .main-landing-page .mobile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
.main-landing-page .mobile-content .mobile-header h5 {
  color: #E6AC00;
  margin-bottom: 8px;
  font-weight: bold;
}
.main-landing-page .mobile-content .mobile-banner {
  width: 100%;
  height: 320px;
}
.main-landing-page .mobile-content .mobile-banner .mobile-banner-img {
  height: 100%;
  background: url("../images/restaurant.jpg") no-repeat center;
  background-size: cover;
}
.main-landing-page .mobile-content .mobile-cta-container {
  width: 100%;
  line-height: 2rem;
  font-size: 1.6rem;
  color: #E6AC00;
  margin-bottom: 30px;
}
.main-landing-page .mobile-content .mobile-cta-container button {
  width: 100%;
  background-color: #E6AC00;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  line-height: 3rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 0;
  margin: 16px 0;
  outline: none;
}
/* About Page */
.main-about-page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.main-about-page .team {
  width: 62%;
  padding: 1.22% 2.68% 4.07%;
}
@media (max-width: 375px) {
  .main-about-page .team {
    width: 100%;
    background: none;
    padding: 0 24px 15px;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-about-page .team {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7.5% 15%;
  }
}
.main-about-page .team .about-banner {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.main-about-page .team .about-banner h1 {
  text-align: right;
  color: #E6AC00;
  width: 100%;
}
@media (max-width: 375px) {
  .main-about-page .team .about-banner h1 {
    display: none;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-about-page .team .about-banner h1 {
    font-size: 6rem;
    line-height: 7.5rem;
    margin-bottom: 32px;
  }
}
.main-about-page .team-members {
  width: 76%;
}
@media (max-width: 375px) {
  .main-about-page .team-members {
    width: 100%;
  }
}
.main-about-page .team-members .team-members-title h2 {
  color: #E6AC00;
  margin: 1.52% 0 2.85%;
}
@media (max-width: 375px) {
  .main-about-page .team-members .team-members-title h2 {
    margin: 0 0 16px;
    font-size: 3rem;
    line-height: 3.8rem;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-about-page .team-members .team-members-title h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}
.main-about-page .team-members .gallery {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.main-about-page .team-members .gallery .team-members-info {
  width: 49%;
  min-width: 210px;
  margin-bottom: 6%;
  max-width: 400px;
  height: 330px;
}
.main-about-page .img-container {
  height: 60%;
  width: 100%;
}
.main-about-page .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 60%;
}
.main-about-page .team-members-info-container {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-about-page .team-members-info-container {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 0;
    margin-top: 20px;
  }
}
.main-about-page .team-members-info-container h5 {
  font-weight: bold;
}
@media (max-width: 375px) {
  .main-about-page .team-members-info-container h5 {
    font-size: 2.1rem;
    line-height: 2.6rem;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-about-page .team-members-info-container h5 {
    width: 25%;
    font-size: 2.1rem;
    line-height: 2.6rem;
  }
}
.main-about-page .team-members-info-container h6 {
  margin: 1% 0 2% 0;
  font-weight: normal;
}
@media (max-width: 375px) {
  .main-about-page .team-members-info-container h6 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-about-page .team-members-info-container h6 {
    width: 45%;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
  }
}
.main-about-page .tablet-about-foodie {
  display: none;
}
@media (min-width: 376px) and (max-width: 768px) {
  .main-about-page .tablet-about-foodie {
    display: inline-block;
    width: 100%;
  }
}
.about-foodie {
  width: 38%;
  padding: 1.22% 1.5% 4.07%;
  overflow: hidden;
}
@media (min-width: 376px) and (max-width: 768px) {
  .about-foodie {
    display: none;
  }
}
.about-foodie .mobile-title {
  display: none;
}
@media (max-width: 375px) {
  .about-foodie .mobile-title {
    display: block;
    text-align: center;
    margin: 32px 0;
    color: #E6AC00;
    font-size: 4.8rem;
    line-height: 6rem;
  }
}
@media (max-width: 375px) {
  .about-foodie {
    width: 100%;
    padding: 0 24px 16px 24px;
  }
}
.about-foodie .pseudo {
  height: 5%;
}
@media (max-width: 375px) {
  .about-foodie .pseudo {
    display: none;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .about-foodie .pseudo {
    display: none;
  }
}
.about-foodie .about-foodie-title {
  margin: 2.52% 0 5.87%;
  color: #E6AC00;
  width: 80%;
  height: 9.71%;
}
@media (max-width: 375px) {
  .about-foodie .about-foodie-title {
    width: 100%;
  }
}
.about-foodie .about-foodie-title h2 {
  margin-bottom: 9.17%;
}
@media (max-width: 375px) {
  .about-foodie .about-foodie-title h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .about-foodie .about-foodie-title h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}
.about-foodie .about-foodie-title h4 {
  min-width: 320px;
}
@media (max-width: 375px) {
  .about-foodie .about-foodie-title h4 {
    font-size: 2.1rem;
    line-height: 2.6rem;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .about-foodie .about-foodie-title h4 {
    font-size: 2.1rem;
    line-height: 2.6rem;
  }
}
@media (max-width: 375px) {
  .about-foodie .about-foodie-container {
    margin-bottom: 5%;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .about-foodie .about-foodie-container {
    margin-bottom: 5%;
  }
}
@media (max-width: 375px) {
  .about-foodie .about-foodie-container h6 {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}
.about-foodie .about-foodie-img-container {
  width: 100%;
  height: 75.38%;
  margin-bottom: 5.03%;
}
@media (max-width: 375px) {
  .about-foodie .about-foodie-img-container {
    height: 340px;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .about-foodie .about-foodie-img-container {
    height: 340px;
  }
}
.about-foodie .smaller-container {
  height: 33.28%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: column-reverse;
  margin-bottom: 0;
  padding-top: 5%;
}
@media (max-width: 375px) {
  .about-foodie .smaller-container {
    flex-direction: column;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .about-foodie .smaller-container {
    flex-direction: column;
  }
}
.about-foodie .smaller-container .about-foodie-img-container {
  height: 58.17%;
  margin-top: 6.11%;
}
@media (max-width: 375px) {
  .about-foodie .smaller-container .about-foodie-img-container {
    height: 340px;
    margin-top: 0;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .about-foodie .smaller-container .about-foodie-img-container {
    height: 340px;
    margin-top: 0;
  }
}
